extends dash_layout

block content

	main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
			h1.h2 Dashboard
			<!-- .btn-toolbar.mb-2.mb-md-0
				.btn-group.mr-2
					button.btn.btn-sm.btn-outline-secondary Share
					button.btn.btn-sm.btn-outline-secondary Export
				button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
					span(data-feather='calendar')
					|	This week -->
	
		!= messages('message', locals)
		if errors
			each error, i in errors
				div(class="alert alert-danger") #{error.msg}
		.alert.alert-success.alert-dismissible.fade.show(role='alert')
			h4.alert-heading Well done!
			p
				| Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
			hr
			p.mb-0
				| Whenever you need to, be sure to use margin utilities to keep things nice and tidy.


		.card
			.card-body
				h3 To start running the software, click the button below! 
				p Once you start the software, it will run automatically - nothing else needs to be done.
				form(action='/dashboard/home', method='POST')
					button.btn.btn-primary(type='submit') Start

