extends dash_layout

block content


	main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
			h1.h2 How To Use
		.card
			.card-body
				h3 Beginning Tutorial - How To Use QuickShout
				p
					| Welcome to the tutorial where we will show you how to get up and running
					| with your new account.
				p
					| This tutorial is inteded to instruct those who have no experience with
					| our software and are first time users. The software is currently running
					| on its most basic version, Version 1.0.
				p
					| In the future, there will be more awesome features and design elements.
				p
				br
				h4 Let's Get Started!
				p
					| Since you are reading this page, you have completed Step 1 which is to
					| set up a new account.
