extends dash_layout

block content


	main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
			h1.h2 Our Software
		.card
			.card-body
				p
					| QuickShout is a new Saas that enables Instagam influencers to make more money
					| from their pages while spending less time managing them.
				br
				h5 Here's how it works:
				p
					| Once connected to your Instagram account, QuickShout will automatically
					| find all the Direct Messages - both inbox and pending - that are related
					| to paid promotions and shoutouts. Once it has identified the people who are
					| interested in paying for an advertisement, QuickShout sends a user customized
					| message with relevant information such as rates, costs, and times.
				p
					| After doing this, QuickShout displays these leads to you within your Dashboard
					| allowing you to seamlessly find those willing and ready to pay. All you have to do
					| is finish the deal and post the content.
				p
					| By doing this, QuickShout manages and automates the advertisements on your
					| Instagram influencer page - helping you make more money with less time!
