extends dash_layout

block content


	main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
			h1.h2 Contact
		div
			p
				| Hi there, thanks for using QuickShout! We are currently running the very first
				| version of out software and do not have everything in its prime form yet.
				| If you would like to contact us, please feel free to shoot an email to:
				| joshua.blewj@gmail.com
			p
				| We appreciate your understanding!
