extends dash_layout

block content

	main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
			h1.h2 Leads
			<!-- .btn-toolbar.mb-2.mb-md-0
				.btn-group.mr-2
					button.btn.btn-sm.btn-outline-secondary Share
					button.btn.btn-sm.btn-outline-secondary Export
				button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
					span(data-feather='calendar')
					|	This week -->
		h5  Here is a list of your current leads. 
		each val in docs
			.card
				.card-body
					div
						h5 User: 
						p= val.title 
						br
						h5 Message: 
						p= val.text 
	

